@model FootballLeague.Web.Models.FootballTeamsDataContextViewModel

<h1>Football Teams</h1>
@Html.ValidationSummary()

<div class="row">
    <div class="col-sm pb-15 pl-25">
        @Html.ActionLink("Add Football Team", "AddFootballTeam", "FootballTeam")
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        NAME
    </div>
    <div class="col-md-3">
        STADIUM
    </div>
    <div class="col-md-3">
        YEAR FOUND
    </div>
    <div class="col-md-3">
        POINTS
    </div>
</div>

@foreach (var team in Model.Teams)
{
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink(@team.Name,
                             "UpdateFootballTeam",
                              new { teamId = team.ID })
        </div>
        <div class="col-md-3">
            @team.Stadium
        </div>
        <div class="col-md-3">
            @team.YearFound
        </div>
        <div class="col-md-3">
            @team.Points
        </div>
    </div>
}

@section scripts {
    <script>

    </script>
}

