@model FootballLeague.Web.Models.PlayedGames.PlayedGamesDataContextViewModel

<h1>Played Games</h1>
@Html.ValidationSummary()

<div class="row">
    <div class="col-sm pl-25">
        @Html.ActionLink("Add Played Game", "AddPlayedGame", "PlayedGame")
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        HOME TEAM
    </div>
    <div class="col-md-3">
        AWAY TEAM
    </div>
    <div class="col-md-3">
        RESULT
    </div>
    <div class="col-md-2">

    </div>
</div>

@foreach (var game in Model.PlayedGames)
{
    <div class="row">
        <div class="col-md-3">
            @game.HomeTeamName
        </div>
        <div class="col-md-3">
            @game.AwayTeamName
        </div>
        <div class="col-md-3">
            @game.ResultName
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Delete",
                             "DeletePlayedGame",
                              new { gameId = game.ID })
        </div>
    </div>
}

@section scripts {
    <script>

    </script>
}