@model FootballLeague.Web.Models.PlayedGames.UpdatePlayedGameViewModel
@{
    ViewBag.Title = "Played Game";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("UpdatePlayedGame", "PlayedGame", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Update a Played Game</h4>
    <hr />
    @Html.HiddenFor(m => m.ID)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3">
            HOME TEAM
        </div>
        <div class="col-md-3">
            AWAY TEAM
        </div>
        <div class="col-md-3">
            RESULT
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.HomeTeamId, Model.DataSources.Teams.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value.Name }))
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.AwayTeamId, Model.DataSources.Teams.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value.Name }))
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.Result, Model.DataSources.Results.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value.Name }))
        </div>
    </div>
    <div class="row pt-15">
        <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
